body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    text-align: center;
    background: #222;
    color: white;
    padding: 50px 0;
}

section {
    padding: 20px 40px;
}

h2 {
    color: #333;
    border-left: 5px solid #444;
    padding-left: 10px;
}

.project {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
